* {
    margin: 0;
    padding: 0;
    font-family: 'Futura Std', sans-serif;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FDF7E9;
    overflow-x: hidden;
}


h1 {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1vw;
    z-index: 1;
    font-size: 6vw;
    color: #FDF7E9;
    transform: scaleX(-1) scaleY(-1);
}

h2 {
    font-size: 3vw;
    font-weight: 600;
}

h3 {
    color: #E53144;
    font-size: 6vw;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 2vw;
}

h4 {
    color: #B31937;
    font-size: 2.5vw;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 2vw;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2.1vh;
    padding-bottom: 2.1vh;
    position: fixed;
    background-color: #B31937;
    align-items: center;
    z-index: 100;
}

.header_logo {
    height: 6vh;
    margin-left: 2vw;
    align-items: center;
}

/*HAMBGURGER*/

nav {
    display: flex;
}

nav a {
    flex-wrap: wrap;
    align-content: center;
    color: #FFFFFF;
    margin-right: 3vw;
    font-size: 1.8vw;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*FINE HAMBURGER*/

/* MAIN */

.block1 {
    height: 100vh;
}

.block1,
.block2,
.block3,
.block_me,
.block_proj {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.block2,
.block3 {
    height: 74.03vh;
}

.block2,
.block_me,
.block_proj {
    background-color: #FBD281;
}

.left_block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 6vw;
    padding-left: 6vw;
    background-color: #E53144;
}

.right_block {
    display: flex;
    height: 50vh;
    width: 100vw;
    margin-top: 14vh;
    margin-left: 2.5vw;
}

.img_block1 {
    border: 1vw solid #B31937;
    object-fit: cover;
}

.description_home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4.5vw;
}

.p_block1 {
    font-size: 1.5vw;
    font-weight: 50;
}

.quad1 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 9vw;
    align-items: baseline;
}

.orange_quad,
.orange_quad2 {
    width: 7.81vw;
    height: 7.81vw;
    background: #ED7D62;
}

.yellow_quad {
    width: 3.9vw;
    height: 3.9vw;
    background: #F8B300;
}

.light_quad {
    width: 1.95vw;
    height: 1.95vw;
    background: #FBD281;
}

/* BLOCK2 */

.h2_block2 {
    color: #E53144;
    font-size: 6vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-top: 1.5vh;
}

.quad2 {
    display: flex;
    margin-top: 14vh;
    margin-left: 8.12vw;
}

.orange_quad2 {
    margin-left: 4.5vw;
}


.red_quad {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    margin-left: 6vw;
    background: #E53144;
}

.p_block2 {
    margin: 1.5vw;
    font-size: 1.2vw;
    font-weight: 50;
    color: #FFFFFF;
}

.link2 {
    font-size: 1.1vw;
    margin: 1.5vw;
    color: #FFFFFF;
    font-weight: 100;
}

/* BLOCK3 */

.block3 {
    justify-content: space-between;
    background-color: #FDF7E9;
}

.left_block3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.right_block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #E53144;
}

.h2_block3 {
    color: #000000;
    font-size: 6vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-top: 1.5vh;
}

.h1_block3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FDF7E9;
    font-size: 3.5vw;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.quad3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 4vw;
    gap: 11vw;
}

.red_quad3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background-color: #B31937;
}

.img_proj3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.5vw;
    height: 14.5vw;
    transition: 250ms ease-in;
    filter: saturate(35%);
}

.img_proj3:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 16vw;
    filter: saturate(135%) sepia(10%) brightness(104%);
    transition: 200ms ease-in;

}

/* SU DI ME */

.block_me {
    display: flex;
    background-color: #FBD281;
    height: 100vh;
    width: 100vw;
}

.orange_quad_me {
    display: flex;
    width: 7.81vw;
    height: 7.81vw;
    margin-top: 7vw;
    margin-left: 2vw;
    background: #ED7D62;
}

.yellow_quad_me {
    display: flex;
    width: 3.9vw;
    height: 3.9vw;
    margin-top: 2vw;
    margin-left: 2vw;
    background: #F8B300;
}

.p_me {
    margin-top: 2vw;
    margin-right: 5vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    font-weight: 50;
}

/* PROGETTI */

.proj {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
}

.light_quad_proj,
.yellow_quad_proj,
.orange_quad_proj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 22vw;
    transition: ease-in 200ms;
}

.light_quad_proj {
    background-color: #FBD281;
}

.yellow_quad_proj {
    background-color: #F8B300;
}

.orange_quad_proj {
    background-color: #ED7D62;
}

.light_quad_proj:hover,
.yellow_quad_proj:hover,
.orange_quad_proj:hover {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 25vw;
    transition: ease-in 200ms;
}

.light_quad_proj_img,
.yellow_quad_proj_img,
.orange_quad_proj_img {
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 18vw;
    transition: ease-in-out 300ms;
    filter: saturate(35%);
}

.light_quad_proj_img:hover,
.yellow_quad_proj_img:hover,
.orange_quad_proj_img:hover {
    width: 22vw;
    height: 22vw;
    filter: saturate(135%) sepia(10%) brightness(104%);
    transition: ease-out 300ms;
}

.title_center_proj {
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    text-transform: uppercase;
    margin-top: 0.5vw;
}

/* PROGETTI → PAGINE*/

.block_proj {
    height: 100%;
    width: 100%;
}

.right_block_proj {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 11vh;
}

.p_proj {
    margin-top: 2vw;
    margin-right: 5vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    font-weight: 50;
}


.block_img_proj {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 75vw;
    margin: 2vw;
    gap: 4vw;
}

.arrow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.center_sx {
    margin-right: 15vw;
}

.center_dx {
    margin-left: 15vw;
}

.img_proj_layout {
    max-width: 14vw;
    border: 0.7vw solid #B31937;
}

.img_proj_foto {
    max-width: 21vw;
    border: 0.7vw solid #B31937;
}

.img_proj_draw {
    max-width: 13vw;
    border: 0.7vw solid #B31937;
}

.h1_draw {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: #FDF7E9;
    transform: scaleX(-1) scaleY(-1);
}

/*CONTATTI*/

.contact {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
}

.light_quad_contact,
.yellow_quad_contact,
.orange_quad_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 14vw;
    transition: ease-in 200ms;
}

.light_quad_contact {
    background-color: #FBD281;
}

.yellow_quad_contact {
    background-color: #F8B300;
}

.orange_quad_contact {
    background-color: #ED7D62;
}

.light_quad_contact:hover,
.yellow_quad_contact:hover,
.orange_quad_contact:hover {
    width: 17vw;
    height: 17vw;
}

.light_quad_contact_img,
.yellow_quad_contact_img,
.orange_quad_contact_img {
    width: 10vw;
    height: 10vw;
    transition: ease-in-out 300ms;
    filter: saturate(35%);
}

.light_quad_contact_img:hover,
.yellow_quad_contact_img:hover,
.orange_quad_contact_img:hover {
    width: 14vw;
    height: 14vw;
    filter: saturate(135%) sepia(10%) brightness(104%);
    transition: ease-out 300ms;
}

.title_center_contact {
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    text-transform: uppercase;
    margin-top: 0.5vw;
    text-decoration: none;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: #B31937;
    width: 100vw;
    height: 17vh;
}

.logo_footer {
    margin-top: 0.5vw;
    width: 2.3vw;
    height: 2.3vw;
}

.logo_footer:hover {
    padding: 0 1.5vw;
    background-color: #E53144;
    transition: 200ms ease-in;
}

.icons_footer {
    display: flex;
    justify-content: center;
    width: 3vw;
    height: 3vw;
}

.icons_footer img {
    width: 3vw;
    height: 3vw;
    margin: 0 0.5vw;
    transition: 200ms ease-in;
}

.icons_footer img:hover {
    padding: 0 1.5vw;
    background-color: #E53144;
    transition: 200ms ease-in;
}

footer p {
    color: #FDF7E9;
}

@media (max-width: 767px) {

    .block1 {
        height: 60vh;
    }

    .right_block {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 50vh;
        width: 100vw;
        gap: 2vw;
    }

    .img_block1 {
        border: 1vw solid #B31937;
        object-fit: cover;
        width: 35vw;
    }
}