* {
    margin: 0;
    padding: 0;
    font-family: 'Futura Std', sans-serif;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FDF7E9;
    overflow-x: hidden;
}


h1 {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1vw;
    z-index: 1;
    font-size: 6vw;
    color: #FDF7E9;
    transform: scaleX(-1) scaleY(-1);
}

h2 {
    font-size: 3vw;
    font-weight: 600;
}

h3 {
    color: #E53144;
    font-size: 6vw;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 2vw;
}

h4 {
    color: #B31937;
    font-size: 2.5vw;
    font-weight: 700;
    margin: 0 1vw;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2.1vh;
    padding-bottom: 2.1vh;
    position: fixed;
    background-color: #B31937;
    align-items: center;
    z-index: 100;
}

.header_logo {
    height: 6vh;
    margin-left: 2vw;
    align-items: center;
}

/*HAMBGURGER*/

nav {
    display: flex;
}

nav a {
    flex-wrap: wrap;
    align-content: center;
    color: #FFFFFF;
    margin-right: 3vw;
    font-size: 1.8vw;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.15s ease-in-out;
    background-color: #FDF7E9
}

nav a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
}

.open-menu {
    position: absolute;
    top: 50%;
    right: 4vw;
    transform: translateY(-50%);
}

.close-menu {
    position: absolute;
    top: 2vh;
    right: 4vw;
}

#check {
    display: none;
}

/*FINE HAMBURGER*/

/* MAIN */

.block1,
.block_proj_contact {
    height: 100vh;
}

.block2 {
    display: flex;
    justify-content: flex-start;
}

.block1,
.block3,
.block_me,
.block_proj,
.block_proj_contact {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.block2,
.block3 {
    height: 74.03vh;
}

.block2,
.block_me,
.block_proj {
    background-color: #FBD281;
}

.left_block,
.left_block_subproj {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 6vw;
    padding-left: 6vw;
    background-color: #E53144;
}

.right_block {
    display: flex;
    height: 50vh;
    width: 100vw;
    margin: 14vh 0 0 2.5vw;
}

.img_block1 {
    border: 1vw solid #B31937;
    object-fit: cover;
}

.description_home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4.5vw;
}

.p_block1 {
    font-size: 1.5vw;
    font-weight: 50;
}

.quad1 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 9vw;
    align-items: baseline;
}

.orange_quad,
.orange_quad2,
.orange_quad3 {
    width: 7.81vw;
    height: 7.81vw;
    background: #ED7D62;
}

.yellow_quad,
.yellow_quad2,
.yellow_quad3 {
    width: 3.9vw;
    height: 3.9vw;
    background: #F8B300;
}

.light_quad,
.light_quad3 {
    width: 1.95vw;
    height: 1.95vw;
    background: #FBD281;
}

/* BLOCK2 */

.h2_block2 {
    color: #E53144;
    font-size: 6vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-top: 1.5vh;
}

.quad2 {
    display: flex;
    margin: 14vh 0 0 8.12vw;
}

.orange_quad2 {
    margin-left: 4.5vw;
}


.red_quad {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    margin-left: 6vw;
    background: #E53144;
}

.p_block2 {
    margin: 1.5vw;
    font-size: 1.2vw;
    font-weight: 50;
    color: #FFFFFF;
}

.link2 {
    font-size: 1.1vw;
    margin: 1.5vw;
    color: #FFFFFF;
    font-weight: 100;
}

/* BLOCK3 */

.block3 {
    justify-content: space-between;
    background-color: #FDF7E9;
}

.left_block3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.right_block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #E53144;
}

.h2_block3 {
    color: #000000;
    font-size: 6vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-top: 1.5vh;
}

.h1_block3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FDF7E9;
    font-size: 3.5vw;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.quad3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4vw 2vw;
    gap: 11vw;
}

.red_quad3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background-color: #B31937;
}

.img_proj3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.5vw;
    height: 14.5vw;
    transition: 250ms ease-in;
    filter: saturate(35%);
}

.img_proj3:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 16vw;
    filter: saturate(135%) sepia(10%) brightness(104%);
    transition: 200ms ease-in;

}

/* SU DI ME */

.block_me {
    display: flex;
    background-color: #FBD281;
    height: 100vh;
    width: 100vw;
}

.right_block_me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2vw;
}

.yellow_quad_me {
    display: flex;
    width: 3.9vw;
    height: 3.9vw;
    margin: 2vw 0 0 2vw;
    background: #F8B300;
}

.orange_quad_me {
    display: flex;
    width: 7.81vw;
    height: 7.81vw;
    margin: 7vw 0 0 2vw;
    background: #ED7D62;
}

.p_me {
    margin: 2vw 5vw 0 2vw;
    font-size: 1.5vw;
    font-weight: 50;
}

/* PROGETTI */

.proj {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
}

.light_quad_proj,
.yellow_quad_proj,
.orange_quad_proj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 22vw;
    transition: ease-in 200ms;
}

.light_quad_proj {
    background-color: #FBD281;
}

.yellow_quad_proj {
    background-color: #F8B300;
}

.orange_quad_proj {
    background-color: #ED7D62;
}

.light_quad_proj:hover,
.yellow_quad_proj:hover,
.orange_quad_proj:hover {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 25vw;
    transition: ease-in 200ms;
}

.light_quad_proj_img,
.yellow_quad_proj_img,
.orange_quad_proj_img {
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 18vw;
    transition: ease-in-out 300ms;
    filter: saturate(35%);
}

.light_quad_proj_img:hover,
.yellow_quad_proj_img:hover,
.orange_quad_proj_img:hover {
    width: 22vw;
    height: 22vw;
    filter: saturate(135%) sepia(10%) brightness(104%);
    transition: ease-out 300ms;
}

.title_center_proj {
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    text-transform: uppercase;
    margin-top: 0.5vw;
}

/* PROGETTI → PAGINE*/

.block_proj {
    height: 100%;
}

.right_block_proj {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    margin-top: 11vh;
}

.p_proj {
    margin: 2vw 5vw 0 2vw;
    font-size: 1.5vw;
    font-weight: 50;
}


.block_img_proj {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 75vw;
    margin: 2vw;
    gap: 4vw;
}

.arrow {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw 2vw 0;
}

.arrow a:hover {
    color: #B31937;
    text-decoration: underline;
}

.center_sx {
    display: flex;
}

.center_dx {
    display: flex;
}

.img_proj_layout {
    max-width: 13vw;
    border: 0.7vw solid #B31937;
}

.img_proj_foto {
    max-width: 21vw;
    border: 0.7vw solid #B31937;
}

.img_proj_draw {
    max-width: 13vw;
    border: 0.7vw solid #B31937;
}

.h1_draw {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: #FDF7E9;
    transform: scaleX(-1) scaleY(-1);
}

/*CONTATTI*/

.contact {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
}

.light_quad_contact,
.yellow_quad_contact,
.orange_quad_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 14vw;
    transition: ease-in 200ms;
}

.light_quad_contact {
    background-color: #FBD281;
}

.yellow_quad_contact {
    background-color: #F8B300;
}

.orange_quad_contact {
    background-color: #ED7D62;
}

.light_quad_contact:hover,
.yellow_quad_contact:hover,
.orange_quad_contact:hover {
    width: 17vw;
    height: 17vw;
}

.light_quad_contact_img,
.yellow_quad_contact_img,
.orange_quad_contact_img {
    width: 10vw;
    height: 10vw;
    transition: ease-in-out 300ms;
    filter: saturate(35%);
}

.light_quad_contact_img:hover,
.yellow_quad_contact_img:hover,
.orange_quad_contact_img:hover {
    width: 14vw;
    height: 14vw;
    filter: saturate(135%) sepia(10%) brightness(104%);
    transition: ease-out 300ms;
}

.title_center_contact {
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    text-transform: uppercase;
    margin-top: 0.5vw;
    text-decoration: none;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: #B31937;
    width: 100vw;
    height: 17vh;
}

.logo_footer {
    margin-top: 0.5vw;
    width: 2.3vw;
    height: 2.3vw;
}

.logo_footer:hover {
    padding: 0 1.5vw;
    background-color: #E53144;
    transition: 200ms ease-in;
}

.icons_footer {
    display: flex;
    justify-content: center;
    width: 3vw;
    height: 3vw;
}

.icons_footer img {
    width: 3vw;
    height: 3vw;
    margin: 0 0.5vw;
    transition: 200ms ease-in;
}

.icons_footer img:hover {
    padding: 0 1.5vw;
    background-color: #E53144;
    transition: 200ms ease-in;
}

footer p {
    color: #FDF7E9;
}

@media (max-width: 767px) {

    body {
        height: 0;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 8vw;
        margin-left: 2vw;
    }

    h4 {
        font-size: 4vw;
        margin-left: 2vw;
    }

    header {
        width: 100%;
        height: 4vh;
    }

    .header_logo {
        height: 3.5vh;
        margin-left: 2vw;
    }

    /*HAMBURGER*/

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 15vh;
        position: fixed;
        padding-top: 80px;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: right 0.3s ease-in-out;
        background-color: #E53144
    }

    nav a {
        color: #ffffff;
        font-size: 2.5vh;
        margin-left: 2vw;
        padding: 1.2vw;
    }

    .open-menu,
    .close-menu {
        display: flex;
    }

    #check:checked~.open-menu {
        display: flex;
    }

    #check:checked~nav {
        right: 0;
    }

    #check:checked~nav .close-menu {
        display: flex;
    }

    /*BLOCK1-2 MOBILE*/

    .block1 {
        height: 60vh;
    }

    .block2 {
        flex-direction: column;
        padding: 5vw 0;
    }

    .block2,
    .block3 {
        display: flex;
        justify-content: space-around;
        height: 100%;
    }

    .left_block {
        padding-right: 8vw;
        padding-left: 8vw;
    }

    .right_block {
        margin-top: 10vh;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        margin-left: 0;
    }

    .img_block1 {
        width: 30vw;
    }

    .description_home {
        gap: 2vw;
    }

    .p_block1 {
        font-size: 5vw;
    }

    .quad1 {
        flex-direction: column;
        gap:3vw;
    }

    .orange_quad,
    .orange_quad2 {
        width: 9vw;
        height: 9vw;
    }

    .yellow_quad {
        width: 6vw;
        height: 6vw;
    }

    .light_quad {
        width: 3vw;
        height: 3vw;
    }

    .h2_block2 {
        font-size: 9vw;
        margin-left: 2vw;
        padding-top: 0;
    }

    .quad2 {
        flex-direction: column;
        margin: 2vw 0 2vw 2vw;
        gap: 5vw;
    }

    .yellow_quad2 {
        width: 10vw;
        height: 10vw;
    }

    .orange_quad2 {
        margin-left: 0;
        width: 25vw;
        height: 25vw;
    }

    .red_quad {
        width: 70vw;
        height: 70vw;
        margin-left: 0;
    }

    .p_block2 {
        margin: 2vw;
        font-size: 5vw;
    }

    .link2 {
        font-size: 4.5vw;
        text-decoration:underline;
        margin: 2vw;
    }

    /*BLOCK 3 MOBILE*/

    .left_block3 {
        justify-content: flex-start;
    }

    .right_block3 {
        padding: 7%;
        height: 50vh;
    }

    .h1_block3 {
        font-size: 9vw;
    }

    .h2_block3 {
        font-size: 9vw;
    }

    .quad3 {
        margin-top: 3vw;
        flex-direction: column;
        justify-content: space-around;
    }

    .light_quad3 {
        width: 4vw;
        height: 4vw;
    }

    .yellow_quad3 {
        width: 7.5vw;
        height: 7.5vw;
    }

    .orange_quad3 {
        width: 15vw;
        height: 15vw;
    }

    .red_quad3 {
        width: 30vw;
        height: 30vw;
    }

    .img_proj3 {
        width: 23vw;
        height: 23vw;
        filter: saturate(100%);
    }

    /* SU DI ME MOBILE */

    .right_block_me {
        justify-content: flex-start;
        margin-top: 10vh;
        gap: 8vw;
    }

    .orange_quad_me {
        width: 16vw;
        height: 16vw;
        margin-top: 0;
    }

    .yellow_quad_me {
        width: 8vw;
        height: 8vw;
        margin-top: 0;
    }

    .p_me {
        font-size: 4.5vw;
    }

    /* PROGETTI MOBILE */

    .block_proj_contact {
        height: 100vh;
    }

    .proj {
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10vh;
    }

    .light_quad_proj,
    .yellow_quad_proj,
    .orange_quad_proj {
        width: 45vw;
        height: 45vw;
    }

    .light_quad_proj:hover,
    .yellow_quad_proj:hover,
    .orange_quad_proj:hover {
        width: 50vw;
        height: 50vw;
    }


    .light_quad_proj_img,
    .yellow_quad_proj_img,
    .orange_quad_proj_img {
        width: 40vw;
        height: 40vw;
        filter: saturate(100%);
    }

    .light_quad_proj_img:hover,
    .yellow_quad_proj_img:hover,
    .orange_quad_proj_img:hover {
        width: 45vw;
        height: 45vw;
    }

    .title_center_proj {
        font-size: 4vw;
        margin-top: 2vw;
    }

    /* PROGETTI → PAGINE*/

    .right_block_proj {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 100vw;
        margin-top: 10vh;
    }

    .p_proj {
        font-size: 5vw;
        font-weight: 50;
    }


    .block_img_proj {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75vw;
        margin: 2vw;
        gap: 4vw;
    }

    .arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 3vw 2vw 2vw;
    }

    .arrow img {
        width: 5vw;
        height: 5vw;
    }

    .arrow a {
        text-decoration: underline;
        text-decoration-color: #B31937;
    }

    .img_proj_layout {
        max-width: 28vw;
    }

    .img_proj_foto {
        max-width: 40vw;
    }

    .img_proj_draw {
        max-width: 30vw;
    }

    .h1_draw {
        font-size: 7vw;
    }

    .left_block_subproj{
        padding: 0;
        width:40vw;
    }

    /*CONTATTI MOBILE*/

    .contact {
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10vh;
    }

    .light_quad_contact,
    .yellow_quad_contact,
    .orange_quad_contact {
        width: 30vw;
        height: 30vw;
    }

    .light_quad_contact:hover,
    .yellow_quad_contact:hover,
    .orange_quad_contact:hover {
        width: 35vw;
        height: 35vw;
    }

    .light_quad_contact_img,
    .yellow_quad_contact_img,
    .orange_quad_contact_img {
        width: 20vw;
        height: 20vw;
        filter: saturate(100%);
    }

    .light_quad_contact_img:hover,
    .yellow_quad_contact_img:hover,
    .orange_quad_contact_img:hover {
        width: 25vw;
        height: 25vw;
    }

    .title_center_contact {
        font-size: 4vw;
        margin-top: 2vw;
    }

    /* FOOTER MOBILE */

    footer {
        width: 100%;
        height: 9vh;
    }

    .logo_footer {
        width: 5vw;
        height: 5vw;
    }

    .icons_footer {
        width: 4vw;
        height: 4vw;
    }

    .icons_footer img {
        width: 5vw;
        height: 5vw;
    }

    footer p {
        font-size: 2.3vw;
    }
}